services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: portal
      POSTGRES_USER: portal
      POSTGRES_PASSWORD: portal
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - internal
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U portal -d portal"]
      interval: 10s
      timeout: 5s
      retries: 10
    ports:
      - "5500:5432"

  keycloak:
    image: quay.io/keycloak/keycloak:26.0
    container_name: keycloak
    restart: unless-stopped
    command: ["start-dev"]
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: postgres
      KC_DB_URL_DATABASE: portal
      KC_DB_USERNAME: portal
      KC_DB_PASSWORD: portal

      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - internal
    ports:
      - "9090:8080"

  backend:
    build: ./backend
    container_name: backend
    restart: unless-stopped
    environment:
      KEYCLOAK_BASE_URL: http://keycloak:8080
      KEYCLOAK_REALM: trr-portal
      KEYCLOAK_AUDIENCE: portal-backend
    depends_on:
      - keycloak
    networks:
      - internal
    ports:
      - "9000:8000"

volumes:
  pgdata:

networks:
  internal:
    driver: bridge
